body {
  overflow: none;
}

.app {
  background-color: #C49B9B;
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 28px 0px;
  overflow: none;
}

.left-section {
  height: 100%;
  width: 700px;
  margin: 0px;
  padding: 0px;
}

.left-container {
  position: relative;
  height: 100%;
  width: 100%;
}

.middle-pink-panel {
  background-color: #E6D8D8;
  box-shadow: 3px 2px 9px rgba(0,0,0,0.15);
}
