.menu-area {
    height: 100%;
    margin: 0px;
    width: 115px;
    min-width: 115px;
}

.menu-bar {
    width: 65px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left-menu-bar {
    margin-left: 28px;
    width: 65px;
    transition: 0.3s ease-in-out;
}

.left-menu-bar:hover {
    margin-left: 5px;
    width: 100px;
}

.menu-button {
    height: 45px;
    width: 100%;
    object-fit: contain;
    margin: 12px 0px;
}

.button-container {
    justify-content: center;
    align-items: center;
    width: 80%;
}

.menu-label {
    height: 45px;
    text-align: center;
    font-size: small;
    font-weight: bold;
    color: #402D2D;
}